.main3 h1{
    font-size: 4vw;
    text-align: left;
    padding: 1vw 15vw;
    font-family: serif;
    margin: 1vw 0vw 1vw 0vw;
}
.main3 p{
    font-size: 2vw;
    text-align: left;
    padding: 0vw 15vw;

    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.main3-contact{
    display: flex; /* 横並びにする */
    align-items: center; /* 垂直方向に中央揃え */
}
.main3 img{
    display: block; /* 画像をブロック要素として扱う */
    width: 30vw;
    height: 20vw;
    
}
.main3-contact-address {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 0vw 5vw 0vw 15vw;
  font-size: 2vw;
}

.main3-contact-address li {
  display: flex; /* 横並びにする */
  align-items: center; /* 垂直方向に中央揃え */
}

.main3-contact-address p {
    text-align: left;
    padding: 0vw 2vw;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.main3-contact-address a {
  color: #19448e; /* リンクの色を親から継承 */
}

@media screen and (max-width: 768px) {
    .main3 h1 {
        font-size: 6vw; /* 文字を大きく */
        padding: 2vw 5vw; /* パディング調整 */
        margin: 2vw 0; /* 上下のマージンを調整 */
    }

    .main3 p {
        font-size: 4vw; /* 文字を大きく */
        padding: 2vw 5vw; /* パディング調整 */
    }

    .main3-contact {
        display: block; /* 縦並びに変更 */
        align-items: flex-start; /* 上揃え */
    }

    .main3 img {
        width: 80vw; /* 画像の幅を80vwに変更 */
        height: auto; /* アスペクト比を維持 */
        margin: 2vw auto; /* 画像の上下に余白を追加 */
    }

    .main3-contact-address {
        font-size: 4vw; /* フォントサイズを大きく */
        padding: 0 5vw; /* パディング調整 */
    }

    .main3-contact-address li {
        display: block; /* 縦並びに変更 */
        margin-bottom: 3vw; /* リストアイテム間隔の調整 */
    }

    .main3-contact-address p {
        padding: 0 0 1vw 0; /* パディング調整 */
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
	text-align: center;
    }
    
    .main3-contact-address a {
        font-size: 4vw; /* リンクの文字サイズを大きく */
    }
}
