/* 全体のリセットと基本スタイル */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* フォントを指定 */
  background-color: #f4f1e1; /* 背景色を淡いベージュに */
}

.header {
  background-color: #f4f1e1; /* ベージュ */
  padding: 1vw 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* やわらかい影 */
  display: flex; /* 横並びにする */
  justify-content: space-between; /* 左右にスペースを配置 */
  align-items: center; /* 垂直中央揃え */
  width: 100vw;
  box-sizing: border-box;/* paddingやborderをwidthに含める */
  
  /*position: relative;*/
  position: fixed;
  top: 0; /* 画面の上部に配置 */
  left: 0; /* 画面の左端に配置 */
  z-index: 1000; /* 他の要素より前面に表示 */
}

.header nav {
  display: flex; /* 横並びにする */
  align-items: center; /* 垂直中央揃え */
}

.header p {
  font-size: 3vw; /* フォントサイズを大きく */
  color: #330000; /* 文字色を白に */
  margin: 0; /* 余白を削除 */
  margin-left: 13vw; /* 左側の余白 */
  margin-right: 1.5vw; /* 右側の余白 */
}

.header ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;
  justify-content: flex-end; /* 右寄せ */
  margin-left: 1vw; /* 左側の余白 */
  margin-right: 2vw; /* 右側の余白 */
}

.header li {
  background-color: #8e5d3e; /* 木の色 */
  border-radius: 8px; /* 丸みを持たせる */
  margin: 10px 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.header li a {
  color: white;
  text-decoration: none; /* リンクの下線を削除 */
  display: block;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
}

.header li:hover {
  background-color: #a97559; /* ホバー時に明るい木の色 */
  transform: scale(1.1); /* ホバー時に少し拡大 */
}

.header li a:hover {
  color: #f4f1e1; /* ホバー時の文字色変更 */
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 0 20px;
  box-sizing: border-box;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

/* メディアクエリ追加 */
@media screen and (max-width: 768px) {
  /* ハンバーガーメニューのアイコン */
  .menu-icon {
    display: flex; /* ハンバーガーメニューアイコンを表示 */
  }

  .header p {
    font-size: 5vw; /* フォントサイズを大きく */
    color: #330000; /* 文字色を白に */
    margin: 0; /* 余白を削除 */
    margin-left: 13vw; /* 左側の余白 */
    margin-right: 1.5vw; /* 右側の余白 */
  }
  /* メニューリスト */
  .header ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: -100%; /* 初期状態では画面下に隠す */
    left: 0;
    right: 0;
    background-color: #f4f1e1; /* 背景色 */
    padding: 20px 0;
    margin: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* やわらかい影 */
    transition: bottom 0.3s ease-in-out; /* 下からスライドイン */
  }

  /* メニューが開いた時 */
  .header ul.open {
    bottom: 0; /* メニューを画面の下にスライドイン */
  }

  /* メニューアイテム */
  .header li {
    margin: 10px 0; /* 上下にマージン */
    width: 100%; /* 横幅を100%にして全幅表示 */
    text-align: center; /* メニューを中央揃え */
    background-color: transparent;
  }

  .header li a {
    color: #330000;
    text-decoration: none; /* 背景色を削除 */
    text-decoration: underline; /* 下線を追加 */
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
}
